.alert-message {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #ccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.alert-message p {
    margin: 0; padding: 0;
}

.alert-message .close {
    font-family: Arial, sans-serif; 
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 18px;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
}

.alert-message .close:hover {
    color: inherit;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.alert-message.warning {
    color: #c09853;
    background-color: #fcf8e3;
    /*border-color: #fbeed5;*/
    border-color: #c09853;
}
 .alert-message.error, .alert-message.danger {
    color: #b94a48;
    background-color: #f2dede;
    /*border-color: #eed3d7;*/
    border-color: #b94a48;
}
.alert-message.success {
    color: #468847;
    background-color: #dff0d8;
    /*border-color: #d6e9c6;*/
    border-color: #468847;
}
.alert-message.info {
    color: #3a87ad;
    background-color: #d9edf7;
    /*border-color: #bce8f1;*/
    border-color: #3a87ad;
}

.alert-message a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.alert-message a:hover {
    text-decoration: underline;
}